<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>婚纱归还信息管理</title>
  <link rel="stylesheet" href="/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="/css/weddinglayui.css" type="text/css">
</head>
<body>
<div class="layui-card-body ">
	<div class="layui-inline layui-show-xs-block">
		<input class="layui-input"  autocomplete="off" placeholder="请输入用户名" name="username" id="searchone">
	</div>
	<div class="layui-inline layui-show-xs-block">
		<input class="layui-input"  autocomplete="off" placeholder="请输入订单号" name="retexpressNum" id="searchtwo">
	</div>
	<div class="layui-inline layui-show-xs-block">
		<button class="layui-btn"  id="search" data-type="reload"><i class="layui-icon">&#xe615;</i></button>
		<button class="layui-btn layui-btn-normal"  onclick="cleanBtn()"><i class="layui-icon"></i>清除</button>
	</div>
</div>
<div class="layui-card-header">
	<button class="layui-btn layui-btn-danger" id="delAll_btn"><i class="layui-icon"></i>批量删除</button>
	<button class="layui-btn" id="add_btn" ><i class="layui-icon"></i>添加</button>
</div>
<table class="layui-hide" id="idtest" lay-filter="demo"></table>
<script type="text/html" id="barDemo">
	{{#  if(d.yajin == '已退回'){ }}
	<a class="layui-btn layui-btn-disabled" lay-event="" id="process1" style="width: 45px;height: 22px;font-size: 12px;padding-left:2px;line-height: 22px">已处理</a>
	{{#  } else { }}
	<a class="layui-btn layui-btn-xs" lay-event="edit" id="process">处理</a>
	{{#  } }}
  <a class="td-manage" lay-event="detail" title="查看详情"><i class="layui-icon">&#xe642;</i></a>
  <a class="td-manage " title="删除" lay-event="del"><i class="layui-icon">&#xe640;</i></a>
</script>
<script src="/layui/layui.js"></script>
<script type="text/javascript" src="/js/backreturnwedList.js"></script>
 <!--<script type="text/html" id="tt">
	 {{#  if(d.yajin == '已退回'){ }}
		 $('#process').addClass('layui-btn-disabled').html('已处理');
	 }
 </script>-->
	<script type="text/html" id="titleTp1">
  		{{#  if(d.wuliuState === '已发货'){ }}
  		  <span style="color: #55ad20;">{{ d.wuliuState }}</span>
			{{#  } else if(d.wuliuState === '已签收') { }}
  			  <span style="color: red;">{{ d.wuliuState }}</span>
			{{#  } else { }}
				{{ d.wuliuState }}
 			 {{#  } }}
</script>
<script type="text/html" id="titleTp2">
  		{{#  if(d.backState === '已归还'){ }}
  		  <span style="color: #55ad20;">{{ d.backState }}</span>
			{{#  } else { }}
				<span style="color: blue;">{{ d.backState }}</span>
 			 {{#  } }}
</script>
	<script type="text/html" id="titleTp3">
  		{{#  if(d.dealState === '已处理'){ }}
  		  <span style="color: #55ad20;">{{ d.dealState }}</span>
			{{#  } else { }}
				<span style="color: blue;">{{ d.dealState }}</span>
 			 {{#  } }}
</script>
</body>
</html>   